[submodule "third_party/make-env"]
	path = third_party/make-env
	url = https://github.com/mithro/make-env.git

# sky130_fd_pr
[submodule "libraries/sky130_fd_pr/latest"]
	path = libraries/sky130_fd_pr/latest
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_pr.git
	branch = main
	shallow = true

# sky130_fd_sc_hd
[submodule "libraries/sky130_fd_sc_hd/latest"]
	path = libraries/sky130_fd_sc_hd/latest
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hd.git
	branch = main
	shallow = true

# sky130_fd_sc_hdll
[submodule "libraries/sky130_fd_sc_hdll/latest"]
	path = libraries/sky130_fd_sc_hdll/latest
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hdll.git
	branch = main
	shallow = true

# sky130_fd_sc_hs
[submodule "libraries/sky130_fd_sc_hs/latest"]
	path = libraries/sky130_fd_sc_hs/latest
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hs.git
	branch = main
	shallow = true

# sky130_fd_sc_ms
[submodule "libraries/sky130_fd_sc_ms/latest"]
	path = libraries/sky130_fd_sc_ms/latest
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_ms.git
	branch = main
	shallow = true

# sky130_fd_sc_ls
[submodule "libraries/sky130_fd_sc_ls/latest"]
	path = libraries/sky130_fd_sc_ls/latest
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_ls.git
	branch = main
	shallow = true

# sky130_fd_sc_lp
[submodule "libraries/sky130_fd_sc_lp/latest"]
	path = libraries/sky130_fd_sc_lp/latest
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_lp.git
	branch = main
	shallow = true

# sky130_fd_sc_hvl
[submodule "libraries/sky130_fd_sc_hvl/latest"]
	path = libraries/sky130_fd_sc_hvl/latest
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hvl.git
	branch = main
	shallow = true

# sky130_fd_io
[submodule "libraries/sky130_fd_io/latest"]
	path = libraries/sky130_fd_io/latest
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_io.git
	branch = main
	shallow = true

#sky130_fd_pr_reram
[submodule "libraries/sky130_fd_pr_reram/latest"]
	path = libraries/sky130_fd_pr_reram/latest
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_pr_reram.git
	branch = main
	shallow = true

